body {
    background-color: rgba(250,250,250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    border-radius: 100px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 5%;
    }

    .image {
        width: 100%;
        border-radius: 4px;
    }
}