body {
    background-color: rgb(241, 241, 241);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    background-color: #820000;
    width: 100%;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.titleText {
    color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image {
    width: 250px;
    height: 80px;
    border-radius: 100px;
    margin-right: 4px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 5%;
    }

    .image {
        width: auto;
    }
}